<div class="container">
  <div class="jumbotron p-4 p-md-8 text-green rounded bg-dark">
    <div class="container">
      <form class="form-currency" action="/" method="POST">
        <div class="row">
          <div class="columns align-item-center">
            <div class="col-sm-10">
              <h2 class="inputTitle">Amount:</h2>
              <div class="input-group">
                <input type="text" name="amount" class="form-control">
              </div>
            </div>
          </div>
          <div class="columns align-item-center">
            <div class="col-sm-12">
              <h2 class="inputTitle">From:</h2>
              <div class="form-group">
                <select class="form-control" id="fromSelect" name="from">
                  <% @currencies.each do |currency| %>
                    <option><%= currency.title %></option>
                  <% end %> 
                </select>
              </div>
            </div>
          </div>
          <div class="columns align-item-center">
            <div class="col-sm-12">
              <h2 class="inputTitle">To:</h2>
              <div class="form-group">
                <select class="form-control" id="toSelect" name="to">
                  <% @currencies.each do |currency| %>
                    <option><%= currency.title %></option>
                  <% end %> 
                </select>
              </div>
            </div>
          </div>
          <div class="columns align-item-center">
            <div class="col-sm-10">
              <h2 class="inputTitle">Date:</h2>
              <div class="input-group">
                <input id="datepicker" name="date" class="form-control">
                <script>
                  $('#datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    uiLibrary: 'bootstrap4'
                  });
                </script>
              </div>
            </div>
          </div>
          <div class="columns align-item-center">
            <div class="col-sm-10" id="but">
               <button class="btn btn-success" type="submit">Calculate</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="columns align-item-center">
        <% if !@result.nil? && @result.to_f == 0.0 %>
          <%= flash[:alert] = 'Wrong Input' %>
        <% elsif !@result.nil? && @result.to_f != 0.0 %>
          <h1 class="res">Result = <%= @result %></h1>
        <% end %>
      </div>
    </div>
  </div>
</div>